{{#user}}
{{>layouts/header}}

<form class="container" action="/assignments/update" method="post">
    <input name="id" type="hidden" value="{{assignment.id}}">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{assignment.title}}">
    </div>
    <div>
        <label for="date"> 마감일:
            <input type="datetime-local" class="form-control" name="date"
                   max="2077-06-20T23:59" min="1977-06-05T00:00" value="{{assignment.date}}">
        </label>
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content">{{assignment.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">과제 수정하기</button>
    <a href="/assignments/{{assignment.id}}">Back</a>
</form>

{{>layouts/footer}}
{{/user}}